body{
	margin: 0px;
	background-color: black;
}
#instrucciones{
	position: absolute;
	top: 10%;
	left:10%;
	right: 10%;
	bottom: 10%;
	overflow: auto;
	text-align: justify;
	color: white;
	background-color: black;
	font-size: 65px;
	border: 10px;
	font-family: arial
}
